*.o
/*.dh-orig
/.pc/
/INSTALL
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/debian/*.debhelper
/debian/*.log
/debian/*.substvars
/debian/autoreconf.after
/debian/autoreconf.before
/debian/files
/debian/gtkboard/
/depcomp
/install-sh
/missing
/src/.deps/
/src/gtkboard
/stamp-h1
Makefile
Makefile.in
