#!/usr/bin/make -f

%:
	dh $@ --with autoreconf --parallel

override_dh_auto_configure:
	dh_auto_configure -- --bindir=\$${prefix}/games

## This will re-generate the man page.
## Not used during normal build; just a convenient place to keep this info.

manpage: debian/gtkboard.6

debian/gtkboard.6: src/gtkboard
	help2man --name="play a variety of board games" \
		 --section=6 --no-info --output=$@ \
		src/gtkboard

.PHONY: manpage
