#!/usr/bin/make -f

build: build-stamp
build-stamp:
	dh build --before auto_configure
	dh_auto_configure -- --bindir=\$${prefix}/games
	dh build --after auto_configure
	touch build-stamp

clean:
	dh $@
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif

install: install-stamp
install-stamp: build
	dh install --before fixperms
	install -d debian/gtkboard/usr/share/doc/gtkboard/html/devel
	install doc/index.html \
		debian/gtkboard/usr/share/doc/gtkboard/html/
	install doc/devel/devel/index.html \
		debian/gtkboard/usr/share/doc/gtkboard/html/devel/
	install -d debian/gtkboard/usr/share/applications
	install debian/gtkboard.desktop \
		debian/gtkboard/usr/share/applications
	dh install --remaining
	touch install-stamp

binary binary-arch binary-indep: install
	dh $@

.PHONY: build clean binary-indep binary-arch binary install

## This will re-generate the man page.
## Not used during normal build; just a good place to keep this info.

#install-stamp: manpage

manpage: debian/gtkboard.6

debian/gtkboard.6: build
	help2man --name="play a variety of board games" \
		 --section=6 --no-info --output=$@ \
		src/gtkboard

.PHONY: manpage
